
my-team-rotas{
    .shadowbox {
        background: lightgray;
        padding: 11px $NormalPadding;
        text-transform: uppercase;
    }
    .header{
        font-size: 1.7rem;
    }
    .campus_name{
        text-transform: uppercase;
    }
    .harlf_border {
        border-bottom: 1px solid lightgray;
        margin-left: 65px;
    }
    .roter_number{
        color:color($colors,primary);
    }
    .top-noline{
        border-top:none;
    }
}