foot-menu-component{
    .footerBadge{
        position: absolute!important;
        right: -30%!important;
        top: 12%!important;
        padding: 1px 3px 1px 3px !important;
        font-size: 1rem!important;
    }
}
