
<ion-footer>
  <ion-toolbar color="danger">
    
    <ion-buttons left>
      <button ion-button icon-only (click)="BackToHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title> </ion-title>

    <ion-buttons right *ngIf="ShowMessage">
      <button ion-button icon-only (click)="OpemPage('MyMessagePage')"> 
        <span>
          <i style="font-size: 2rem;" class="fa fa-envelope" aria-hidden="true"></i>
          <ion-badge *ngIf="NotificationBadge>0" class="footerBadge"  item-right>{{NotificationBadge}}</ion-badge>
        </span>
      </button>
    </ion-buttons>

    <ion-buttons right>
      <button ion-button icon-only (click)="OpenMenu()"> 
        <ion-icon name="menu" ></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>
