<ion-header>
  <page-header></page-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="mainContent">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <home-login-promp *ngIf="NeedLogin"></home-login-promp>
  <input type="button" value="test" (click)="testStream()">
  <input type="button" value="testStream" (click)="testStreamId(1)">
  <input type="button" value="testEpsoe" (click)="testStreamIdEpsole(1,3)">
  <div *ngFor="let item of data;">
    <div [ngSwitch]="item.type">
      <home-link *ngSwitchCase="'link'" [data]="item"></home-link>
      <home-block *ngSwitchCase="'block'" [data]="item"></home-block>
      <home-vote *ngSwitchCase="'votd'" [data]="item"></home-vote>
      <home-slider *ngSwitchCase="'scroller'" [data]="item"></home-slider>
      <div *ngSwitchCase="'blog'"></div>
      <div *ngSwitchCase="'event'"></div>
      <div *ngSwitchCase="'giving'"></div>
      <div *ngSwitchDefault>

      </div>
    </div>
  </div>
</ion-content>