<ion-header>
    <page-header></page-header>
    <ion-navbar>
        <ion-title>
            Teams
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col width-25>

            </ion-col>
            <ion-col>
                <button ion-button block> Join a Team</button>
            </ion-col>
            <ion-col width-25>

            </ion-col>
        </ion-row>

    </ion-grid>
    <ion-content>
        <ion-item-group *ngFor="let item of Campus">
            <ion-item-divider color="light">
                <br>
                <br>
                {{item.campus.campus_name}}
            </ion-item-divider>
            <ion-item *ngFor="let team of item.teams" (click)="detail(team.id)">
                {{team.name}}
            </ion-item>
            
        </ion-item-group>
    </ion-content>

</ion-content>