<ion-header>
  <ion-navbar>
    <ion-title>
      Podcasts
    </ion-title>
    <page-header></page-header>
  </ion-navbar>
  <audio-control [Tracks]="myTracks"></audio-control>
</ion-header>

<ion-content padding>


  <!--<ion-grid>
    <ion-row>
      <ion-col col-4 *ngFor="let item of ThisSerial">
        <img-lazy [src]="item.series_image" (click)="FindEpisode(item);"></img-lazy>
      </ion-col>

    </ion-row>

  </ion-grid>-->

  <ion-list [class.showTrack]="myTracks!=null&&myTracks.length>0">
    <ion-item *ngFor="let item of ThisSerial" (click)="FindEpisode(item)">
      <ion-avatar item-left>
        <img-lazy [src]="item.series_image"></img-lazy>
      </ion-avatar>
      <h2>{{item.series_title}} {{item.count}}</h2>
      <p *ngIf="item.latest_episode_date!=null">{{item.latest_episode_date|stringToTime|date:"dd/MM/yyyy"}}</p>
    </ion-item>
  </ion-list>

</ion-content>