<ion-header>
  <page-header></page-header>
  <ion-navbar>
    <ion-title>
      {{Title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <button ion-item *ngFor="let item of ThisSerial" (click)="FindEpisode(item)">
      <ion-thumbnail item-left>
        <img-lazy [src]="item.series_image"></img-lazy>
      </ion-thumbnail>
      <h2>{{item.series_title}} </h2>
      <p>
        {{item.series_desc}}
      </p>
      <p *ngIf="item.latest_episode_date!=null">{{item.latest_episode_date|stringToTime|date:"dd/MM/yyyy"}} ({{item.count}} episodes)</p>
    </button>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingText="Loading more data...">>

    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>